.button {
    overflow: hidden;
    padding: 5px 24px;

    border-radius: 3px;
    border: none;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    coursor: pointer;
}

.default {
    background: #06C;
}

.secondary {
    color: #55e73d;
    background: transparent;
    border: 1px solid #4aee08;
    border-radius: 3px;
}


.red {
    background: #cc1439;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #E5F0FA;
}

.default:active {
    background: #0059b3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #b31232;
}

.disabled {
    color: #bbcee1;
    background: #4a5765;
    opacity: 0.5;
}

.button:disabled {
    cursor: default;
}